{"product_id":%s,"product_seq":"product-seq-1","category_id":%s,"seller_id":1,"product_name":"product-name-1","product_label":"product-label-1","product_desc":"product-description-1","product_status":1,"create_time":1551459947000,"time_on_sale":1551469947000,"time_stop_sale":1551479947000}